<section ng-controller="HomeController">
  <section ng-controller="SongController">
    <div class="row" id="row_fav_song">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <h1>Add a new favorite song</h1>
        <form name="songForm" class="form-horizontal" ng-submit="create(songForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group" show-errors>
              <label class="inputLabel" for="artistName">Artist name</label>
              <input name="artistName" ng-model="artistName" type="text" class="form-control" id="artistName" placeholder="Artist name" required>
              <div ng-messages="songForm.title.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Artist name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="inputLabel" for="genre">Genre</label>
              <input name="genre" ng-model="genre" type="text" class="form-control" id="genre" placeholder="Genre" required>
              <div ng-messages="songForm.genre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Genre is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="inputLabel" for="songTitle">Song title</label>
              <input name="songTitle" ng-model="songTitle" type="text" class="form-control" id="songTitle" placeholder="Song title" required>
              <div ng-messages="songForm.songTitle.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Song title is required.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" id="btn_save" class="btn btn-lg btn-block">Add fav song</button>
            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</section>
